[Unit]
Description=bolt

[Service]
User=[username]
WorkingDirectory=/home/[username]/go/src/github.com/TeamFairmont/boltengine/
ExecStart=/home/[username]/go/src/github.com/TeamFairmont/boltengine/boltengine
Restart=always
RestartSec=3
Type=simple

[Install]
WantedBy=multi-user.target
